.category-filter{
    width: 560px;
    float: left;
    padding: 28px;
  }
#category-filter .item{
    height: 120px;  
  /* text-align: center; */
  /* margin: 0px 0px 0px 0px; */
  border-radius: 5px;  
  border: 8px solid transparent;  
  padding: 22px 24px 22px 24px;
  font-size: 50px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 64px;
  color: rgba(217, 217, 217, 1)
  }
  #category-filter .item-focus{ 
    border:8px solid #fff !important;
    background-color: transparent;
    color:#fff !important;
}
#category-filter{ 
    .active{
        font-size: 60px;
        background-color: rgba(230, 230, 230, 1);
        color: rgba(19, 19, 20, 1) !important;
        margin: 12px 0px 12px 0px;
        border:8px solid transparent;
    }
    .active.item-focus{
        background-color: rgba(230, 230, 230, .75);
    }
}