#category-filter .item{
    height: 125px;
    line-height: 125px;
    color: #f1f1f1;
    font-size: 50px;
    box-sizing: border-box;
    cursor: default;
    cursor: pointer;
    /* background: #1f1f1f; */
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
  #category-filter .item-focus{
 
    border:1px solid #fff;
    background-color: transparent;
    color:#fff !important;
}
#category-filter{ 
    .active{
        background-color: white;
        color: red !important;
        margin: 0px 0px 5px 0px;
    }
}