.category-title {
    font-family: Roboto;
    font-size: 42px;
    font-weight: 500;
    line-height: 56px;
    color: white;
  }
  
  .Channels {
    border: 2.72px solid #333333;
    border-radius: 16px;
  }
  
  .Channels .channel-image-box {
    width: 100%;
    height: 272px;
    border-radius: 16px 16px 0px 0px;
  }
  
  .Channels .channel-image-box img {
    width: 212px;
    height: 216px;
    border-radius: 16px;
  }
  
  .Channels .text-box {
    width: 100%;
    height: 100%;
    padding: 32px;
    border-radius: 0px 0px 16px 16px;
  }
  
  .Channels .text-box .streaming-text {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    color: #D22F26;
  }
  
  .Channels .text-box .title {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: white;
  }
  
  .Channels .text-box .duration {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #9E9C9C;
  }
  
  .slider-box {
    width: 1440px;
    height: 424px;
    margin-top: 792px;
    margin-left: 496px;
    padding: 80px;
    border-radius: 16px;
    background: linear-gradient(290.01deg, rgba(255, 255, 255, 0.08) 42.6%, rgba(255, 255, 255, 0) 103.07%);
    border: 2px solid;
    border-image-source: radial-gradient(69.43% 69.43% at 50% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), 
                        radial-gradient(9.48% 467.39% at 50% 50%, rgba(126, 129, 227, 0.3) 0%, rgba(126, 129, 227, 0.12) 100%), 
                        radial-gradient(54.8% 53% at 50% 50%, rgba(21, 21, 21, 0.3) 0%, rgba(21, 21, 21, 0) 100%);
  }
  
  .slider-box .slider-title {
    font-size: 88px;
    font-weight: 500;
    line-height: 88px;
    text-align: left;
  }
  
  .slider-box .slider-text {
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    color: #BEBEBE;
  }
  
  .slider-item {
    width: 100% !important;
    height: 1376px !important;
  }
  
  .streaming-item {
    width: 480px;
    height: 640px;
    border: 10px solid transparent;
    border-radius: 10px;
  }
  
  .item.streaming-item {
    width: 480px;
    height: 640px;
    border: 10px solid #000;
    border-radius: 18px;
  }
  
  .streaming-item.item-focus {
    width: 480px;
    height: 640px;
    border: 10px solid transparent !important;
    border-radius: 18px;
    transition: border 0.0s ease, border-image-source 0.1s ease !important;
    border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
    border-image-slice: 1 !important;
    box-shadow: none !important;
  }
  
  /* Streaming Title */
  .streaming-item .streaming-title {
    font-size: calc(var(--base-font-size) * 0.6667);
    overflow-x: hidden;
    font-size: 40px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .streaming-item.item-focus .streaming-title {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  .category-item {
    width: 454.86px;
    height: 332px;
  }
  
  .item.category-item {
    width: 454.86px;
    height: 332px;
    border: 10px solid #000; 
    border-radius: 12px;
}
.category-item.item-focus {
    width: 454.86px;
    height: 332px;
    border: 10px solid !important; 
    border-radius: 12px !important;
     transition: border 0.0s ease, border-image-source 0.1s ease !important;
     border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
     border-image-slice: 1 !important;
     box-shadow: none !important;
}


  .item.genre-item{
    width: 508px;
    height: 332px;
    border: 10px solid #000 !important;
    border-radius: 10px; /* Adjust radius to match border */
    overflow: hidden; /* Ensures image doesn't overflow */
}
.genre-item.item-focus {
    width: 508px;
    height: 332px;
    border: 10px solid #000 !important; 
    border-radius:10px;
     transition: border 0.0s ease, border-image-source 0.1s ease !important;
     border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
     border-image-slice: 1 !important;
     box-shadow: none !important;
}
  .channel-item {
    width: 508px;
    height: 488px;
  }
  .item.channel-item  {
    width: 508px;
    height: 488px;
    border: 10px solid #000 !important; 
    border-radius:10px !important;
}
.channel-item .item-focus {
    width: 508px;
    height: 488px;
    border: 10px solid #000 !important; 
    border-radius:10px !important;
     transition: border 0.0s ease, border-image-source 0.1s ease !important;
     border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
     border-image-slice: 1 !important;
     box-shadow: none !important;
  
}
  
  .language-item {
    width: 448px;
    height: 160px;
  }
  .item.language-item {
    width: 448px;
    height: 160px;
    border: 10px solid #000 !important; 
    border-radius:10px !important;
}
.language-item.item-focus {
    width: 448px;
    height: 160px;
    border: 10px solid #000 !important; 
    border-radius:10px !important;
     transition: border 0.0s ease, border-image-source 0.1s ease !important;
     border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
     border-image-slice: 1 !important;
     box-shadow: none !important;
  
}
  .default-item {
    padding: 10px;
  }
  
  .tray-header {
    margin-bottom: 30px;
    font-size: 70px;
  }
  