.category-title {
    font-family: Roboto;
    font-size: 42px;
    font-weight: 500;
    line-height: 56px;
    color: white;
}

.Channels {
    border: 2.72px solid #333333;
    border-radius: 16px;

    .channel-image-box {
        width: 100%;
        height: 272px;
        border-radius: 16px 16px 0px 0px;

        img {
            width: 212px;
            height: 216px;
            border-radius: 16px;
        }
    }

    .text-box {
        width: 100%;
        height: 100%;
        padding: 32px;
        border-radius: 0px 0px 16px 16px;

        .streaming-text {
            font-family: Roboto;
            font-size: 32px;
            font-weight: 500;
            text-align: left;
            color: #D22F26;
        }

        .title {
            font-family: Roboto;
            font-size: 48px;
            font-weight: 400;
            line-height: 48px;
            text-align: left;
            color: white;
        }

        .duration {
            font-family: Roboto;
            font-size: 32px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            color: #9E9C9C;
        }
    }
}

.slider-box {
    width: 1440px;
    height: 424px;
    margin-top: 792px;
    margin-left: 496px;
    padding: 80px;
    border-radius: 16px;

    background: linear-gradient(290.01deg, rgba(255, 255, 255, 0.08) 42.6%, rgba(255, 255, 255, 0) 103.07%);


    border-image-source: radial-gradient(69.43% 69.43% at 50% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(9.48% 467.39% at 50% 50%, rgba(126, 129, 227, 0.3) 0%, rgba(126, 129, 227, 0.12) 100%),
    radial-gradient(54.8% 53% at 50% 50%, rgba(21, 21, 21, 0.3) 0%, rgba(21, 21, 21, 0) 100%);

    .slider-title {
        font-size: 88px;
        font-weight: 500;
        line-height: 88px;
        text-align: left;
    }

    .slider-text {
        font-size: 48px;
        font-weight: 400;
        text-align: left;
        color: #BEBEBE;
    }
}

.slider-item {
    box-shadow: inset 0px 0px 60px rgb(255, 255, 255);
    width: 100% !important;
    height: 1376px !important;
}

.streaming-item {
    width: 480px;
    height: 640px;

    .streaming-title {
        font-size: 40px;
    }
}

.category-item {
    width: 454.86px;
    height: 332px;
}

.genre-item {
    width: 508px;
    height: 332px;
}

.channel-item {
    width: 508px;
    height: 488px;
}

.language-item {
    width: 448px;
    height: 160px;
}

.default-item {
    padding: 10px;
}
