.bottom-2 {
  bottom: 1.5rem;
}

#downArrow,
#upArrow {
  width: 100px;
  height: 100px;
}

#player-controls {
  margin-left: -6%;
}

.disabled-button {
  display: none;
}

.seek-bar {
  width: 3066px; /* 1600px * 2/3 */
  background: #ffffff29;
  height: 8.67px; /* 4px * 2/3 */
  border: none;
}

#seekbar .item-focus {
  border: none;
}

#seekbar .item-focus .seek-bar {
  background: #fff;
  height: 8.67px; /* 4px * 2/3 */
  border: none;
}

#seekbar .seek-bar .filled {
  border: 6.81px solid #E31C3C
}

.player-next-prev {
  margin-top: 80px; /* 120px * 2/3 */
}

.player-next-prev {
  margin-top: 80px;
}

.player-next-prev .move-left {
  left: 1710px;
}

.player-next-prev .move-right {
  right: 500px;
}

.player-next-prev .item {
  width: 29.67%;
  height: 175.33px;
  border: 10px solid transparent;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 20px;
  color: #fff;
}

.player-next-prev .item-focus {
  border: 10px solid transparent;
}

.player-next-prev .item-focus::before {
  content: "";
  position: absolute;
  top: -12.5px;
  left: -16.5px;
  right: -13.5px;
  bottom: -23.5px;
  border: 10px solid transparent;
  border-radius: 20px;
  background: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.bottom-10 {
  bottom: 4.5rem;
}

.player-next-prev .channel-detail {
  width: 70%;
  margin-left: 1.33%; /* 2% * 2/3 */
  margin-right: 1.33%; /* 2% * 2/3 */
}

.player-next-prev .channel-image {
  width: 30.33%; /* 20% * 2/3 */
  margin-left: 1.33%; /* 2% * 2/3 */
  margin-right: 1.33%; /* 2% * 2/3 */
}

.player-next-prev .channel-image img {
  height: 130.33px;
  width: 220px;
  object-fit: contain;
}

.player-next-prev .next-prev-title {
  color: #fff;
  font-family: "Roboto" !important;
  font-size: 40.67px;
  line-height: 12.67px;
  margin-top: 7.67%;
  margin-left: 2%;
}

.player-next-prev .next-prev-label {
  color: #9E9C9C;
  font-size: 40px; /* 18px * 2/3 */
}

.player-next-prev .next-prev-label .prev,
.player-next-prev .next-prev-label .next {
  display: flex;
  margin-top: 50px;
}

.player-next-prev .next-prev-label .prev img,
.player-next-prev .next-prev-label .next img {
  width: 53.33px;
  height: 51.67px;
  margin: 1.33%;
}

.player-next-prev .next-prev-label .prev img {
  margin-right: 4.33%;
  margin-top: -2%;
}

.player-next-prev .next-prev-label .next img {
  margin-left: 4.33%;
  margin-top: -2%;
}
.control-toggle-container img{
  height: 90px;
  width: auto;
}
.control-toggle-container .items-center{
  height: 149px;
  width: 754px;
  border: 10px solid transparent !important;
  border-radius: 16px;
}
.control-toggle-container .item-focus {
  height: 149px;
  width: 754px;
  border: 10px solid transparent !important;
  border-radius: 16px;
  border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
  border-image-slice: 1 !important;
  -webkit-mask-image: linear-gradient(#fff 0 0);
}
 