

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #444;
  font-family: sans-serif;
  overflow: hidden;
}

:focus {
  outline: 0;
}

#container {
  height: 100%;
}

#side_bar {
  position: absolute; 
    top: 0;
    width: 192px;
    height: 100%;
    background-color: rgba(16, 17, 19, 1)  !important;  
    display: flex;    
    z-index: 100;
} 
 
#side_bar.focused {
  width: 100%;
  background-color: rgb(16 17 19 / 69%) !important;
}

#sidebarComponent{
  position: absolute;
  top: 320px !important;
  left:50px;
  width: 92px;
 }

#menu {
  width: 100%;
  height: 100%;
  background-color: #4f4747;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 70px;
}

#side_bar.focused #menu {
  opacity: 1;
}

#menu .item {
  height: 70px;
  line-height: 70px;
  color: white;
  font-size: 25px;
  padding-left: 90px;
  box-sizing: border-box;
  cursor: default;
  display: none;
  cursor: pointer;
}

#menu .item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.item-focus {
  border: 4px solid white;
} 
#menu .item .fa {
  width: 40px;
}

#side_bar.focused #menu .item {
  display: block;
}

.mainbox {
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
  padding: 0px 0px 0 192px;
 background-color:  rgba(0, 0, 0, 0.68)
}

#search-box-placeholder {
  margin-top: 20px;
  width: 70%;
  height: 50px;
  line-height: 50px;
  background-color: #666;
  box-sizing: border-box;
  padding-left: 15px;
  cursor: pointer;
  font-size: 25px;
  color: #aaa;
}

#search-box-placeholder:hover,
.search-box-placeholder-focus {
  color: black !important;
  background-color: white !important;
}
#content {
  height: 100%;
  position: relative;


.content {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  margin: -8px;
  margin-top: -5px;
}

 h1 {
  font-size: 30px;
  height: 80px;
  padding: 0;
  margin: 0;
  line-height: 80px;
}

 .item {
  display: inline-block;
  /* width: 200px; */
  /* height: 200px;  */
  background-color: #666;
  font-size: 1rem;
  margin-right: 20px;
  cursor: pointer;
}


 .horizontal .item { 
  width: 350px !important;
  border: 2px solid transparent;
  height: 80px;
  transition: width 0.2s ease-in-out; /* Added transition */
}

 .item-focus {
  transition: width 0.2s ease-in-out, border 0.2s ease-in-out; /* Added transition */
} 

 .vertical .item-focus, 
 .horizontal .item-focus { 
  border: 2px solid #fff;
  border-radius: 5px;
  width: 495px !important;
}


 .animate {
  width: 25%;
  padding-bottom: 0;
  transition: padding-bottom 0.3s ease;
}

 .placeholder {
  width: 25%;
  padding-bottom: calc(30% + 80px);
}
}
.contentgroup {
  width: 100%;
  z-index: 2;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  margin-bottom: 24px;
  margin-top: 6px;
}

.contentgroup.fading-out {
  opacity: 0;
  display: none;
}
.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.player-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: #111;
  top: 0;
}
.player-wrapper video{
  width: 100%;
  height: 100%; 
}
.controls{
  width: 80%;
  top: 85%;
  left: 10%;
  position: absolute;
}
.controls .seekBar{
  width: 100%;
}
/* Add this to your CSS file */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
}

.main-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: #111;
  top: 0;
}

#category-filter{
  max-height: 1020px;
  scroll-behavior: smooth;
  overflow-y: hidden;
}
.filter {
  max-height: 490px;
  scroll-behavior: smooth;
  overflow-y: hidden;
  padding-left: 3%;
}


.filter::-webkit-scrollbar {
  display: none;
}


.filter {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
} 
.margintop{
  margin-top: 1000px;
  position: absolute;
}
