.category-filter {
  width: 280px;
  float: left;
  padding: 14px;
}

#category-filter .item {
  height: 60px;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 15px 12px 14px 12px;
  font-size: 20px;
  font-family: "Roboto" !important;
  font-weight: 500;
  line-height: 22px;
  color: rgba(217, 217, 217, 1);
}

#category-filter .item img {
  height: auto;
  width: 30px;
  object-fit: cover;
  float: inline-start;
  margin-right: 10px;
}

#category-filter .item-focus {
  border: 2px solid #fff !important;
  background-color: transparent;
  color: rgba(217, 217, 217, 1);
  font-weight: bold;
}

#category-filter .active {
  font-size: 20px;
  background-color: rgba(230, 230, 230, 1);
  color: rgba(19, 19, 20, 1) !important;
  font-weight: bold;
  margin: 6px 0px 6px 0px;
  border: 2px solid transparent;
}

#category-filter .item-focus.active {
  color: rgba(217, 217, 217, 1) !important;
  background-color: transparent;
}

#content {
  height: 100%;
  position: relative;
}

#content .content {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}

#content h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#content .item {
  display: inline-block;
  width: 664px;
  height: 80px;
  background: #00000073;
  border-radius: 6px;
  font-size: 1rem;
  margin-right: 2px;
  cursor: pointer;
}

#content .horizontal .item {
  border-radius: 5px; 
  border-image-slice: 1;
  transition: border 0.0s ease, border-image-source 0.1s ease;
  border: 3.3px solid transparent;
}

#content .vertical .item-focus,
#content .horizontal .item-focus {
  border-radius: 5px;
  border: 3.3px solid #fff;
  transition: border 0.0s ease, border-image-source 0.1s ease;
  border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%);
  border-image-slice: 1;
}

#content .animate {
  width: 25%;
  padding-bottom: 0;
}

#content .placeholder {
  width: 25%;
  padding-bottom: calc(30% + 80px);
}

#content .active.flex {
  background: black;
  margin-bottom: 1px;
}

#content .active.flex .before-box {
  width: 145px;
  height: 80px;
  padding: 0px;
  background: transparent;
}

#content .active.flex .item-focus,
#content .active.flex .item {
  width: 665px !important;
  height: 116px;
}

.program-list {
  width: 100%;
}

.program-list .program-name {
  font-size: 24px;
}

.program-list .detail {
  font-size: 16px;
}

.program-list .program-image img {
  width: 160px;
  height: 88px;
}

.program-list .focus-program {
  width: 465px;
  font-size: 16px;
}

.before-box .img-box {
  width: 120px;
  height: 80px;
}

.before-box .img-box img.active-img {
  width: 100px;
  height: 84px;
}

.before-box .img-box img.deactive-img {
  width: 76px;
  height: 64px;
}

#content .before-box .items-center img {
  width: auto !important;
  height: auto !important;
  max-height: 40px !important;
}

.programs-list {
  width: 84%;
  float: right;
  overflow-y: auto;
  margin-top: 27px;
  padding-right: 2px;
}

#category-filter,
.programs-list {
  height: 538px;
  overflow-y: hidden !important;
}
