#category-filter .item{
    height: 60px;
    line-height: 60px;
    color: #f1f1f1;
    font-size: 25px;
    box-sizing: border-box;
    cursor: default;
    cursor: pointer;
    /* text-align: center; */
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    border:1px solid transparent;

  }
  #category-filter .item-focus{
    border:1px solid #fff;
    background-color: transparent;
    color:#fff !important;
  }
#category-filter{
    .active{
        background-color: white;
        color: black !important;
        margin: 0px 0px 6px 0px;
        font-weight: 600;
    }
}