.category-title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: white;
}

.Channels {
    border: 1.36px solid #333333;
    border-radius: 8px;
}

.Channels .channel-image-box {
    width: 100%;
    height: 136px;
    border-radius: 8px 8px 0px 0px;
}

.Channels .channel-image-box img {
    width: 106px;
    height: 108px;
    border-radius: 8px;
}

.Channels .text-box {
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 0px 0px 8px 8px;
}

.Channels .text-box .streaming-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #D22F26;
}

.Channels .text-box .title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
}

.Channels .text-box .duration {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #9E9C9C;
}

.slider-box {
    width: 720px;
    height: 212px;
    margin-top: 396px;
    margin-left: 140px;
    padding: 40px;
    border-radius: 8px;
    background: linear-gradient(right, rgba(255, 255, 255, 0.08) 42.6%, rgba(255, 255, 255, 0.229) 0%);
    border: 1px solid;
    border-image-source: radial-gradient(69.43% 69.43% at 50% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(9.48% 467.39% at 50% 50%, rgba(126, 129, 227, 0.3) 0%, rgba(126, 129, 227, 0.12) 100%),
    radial-gradient(54.8% 53% at 50% 50%, rgba(21, 21, 21, 0.3) 0%, rgba(21, 21, 21, 0) 100%);
}

.slider-box .slider-title {
    font-size: 37px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
    font-family: 'Roboto' !important;
}

.slider-box .slider-text {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: #BEBEBE;
    margin-top: 20px;
}

.slider-item {
    width: 100% !important;
    height: 688px !important;
}

.item.streaming-item {
    width: 240px;
    height: 320px;
    border: 3px solid transparent; 
    border-radius: 5px;
}
.streaming-item .item-focus {
    width: 240px;
    height: 320px;
    border: 3px solid #fff !important; 
    border-radius: 5px;
}

.streaming-item .streaming-title {
    font-size: 20px;
}

.category-item {
    width: 227.43px;
    height: 166px;
}

.genre-item {
    width: 254px;
    height: 166px;
}

.channel-item {
    width: 254px;
    height: 244px;
}

.language-item {
    width: 224px;
    height: 80px;
}

.default-item {
    padding: 5px;
}
.tray-header{
    margin-bottom: 12px;
}
