.disabled-button {
  display: none;
}

.seek-bar {
  width: 1600px;
  background: #ffffff29;
  height: 4px;
  border: none;
}

#seekbar .item-focus {
  border: none;
}

#seekbar .item-focus .seek-bar {
  background: #fff;
  height: 4px;
  border: none;
}

#seekbar .seek-bar .filled {
  height: 4px;
  background: rgba(227, 28, 60, 1);
}

.player-next-prev {
  margin-top: 120px;
}

.player-next-prev .item {
  width: 22%;
  height: 80px;
  border: 2px solid transparent;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 8px;
  color: #fff;
}

.player-next-prev .item-focus {
  border: 2px solid #fff;
}

.player-next-prev .channel-detail {
  width: 70%;
  margin-left: 2%;
  margin-right: 2%;
}

.player-next-prev .channel-image {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
}

.player-next-prev .channel-image img {
  height: 80px;
  object-fit: contain;
}

.player-next-prev .next-prev-title {
  color: #fff;
  font-family: "Roboto" !important;
  font-size: 22px;
  line-height: 19px;
  margin-top: -2%;
}

.player-next-prev .next-prev-label {
  color: #9E9C9C;
  font-size: 18px;
  margin-top: 2%;
}

.player-next-prev .next-prev-label .prev,
.player-next-prev .next-prev-label .next {
  display: flex;
}

.player-next-prev .next-prev-label .prev img,
.player-next-prev .next-prev-label .next img {
  width: 20px;
  height: 19px;
  margin: 2%;
}
