#sidebarComponent .item {
    border-bottom: 2px solid transparent;  
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#sidebarComponent .item.active{
    border-bottom: 2px solid rgba(210, 47, 38, 1);
}
#sidebarComponent .item img{
    width: 36px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}