#sidebarComponent .item{
    display: flex;
    color: #fff;
}
#sidebarComponent .item .itemdiv{
   visibility: hidden;
    border: 3px solid transparent;   
    padding-bottom: 15px;
    padding-top: 5px;
    margin-top: 11px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: 1.2px;
    white-space: nowrap;
    filter: brightness(0) saturate(100%) invert(85%) sepia(10%) saturate(3%) hue-rotate(170deg) brightness(80%) contrast(75%);
    /* This makes the SVG appear even more dull (closer to #eee but with reduced vibrancy) */
    transition: filter 0.3s ease;
}
 #sidebarComponent .item-focus .itemdiv{
    filter: brightness(0) saturate(100%) invert(100%);
 }
#side_bar.focused #sidebarComponent .item .itemdiv{
visibility: visible;
white-space: nowrap; 
display: inline-flex; 
}
#sidebarComponent .item img{
    float: left;
    border: 3px solid transparent;   
    padding-bottom: 15px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom:10px;
    height: 58px;
    width: 51px;

}
#sidebarComponent .item.active img{
    /* border-bottom: 3px solid rgba(210, 47, 38, 1); */
    filter: brightness(0) saturate(100%) invert(100%);
} 
#sidebarComponent .item-focus { 
    border: 2px solid transparent !important;
    width: fit-content;
}
#sidebarComponent .item-focus img{ 
    border: 3px solid transparent;  
    border-bottom: 3px solid #fff !important;
}
#sidebarComponent .item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.svg-image {
    filter: brightness(0) saturate(100%) invert(85%) sepia(10%) saturate(3%) hue-rotate(170deg) brightness(80%) contrast(75%);
    /* This makes the SVG appear even more dull (closer to #eee but with reduced vibrancy) */
    transition: filter 0.3s ease;
}

.item-focus .svg-image {
    filter: brightness(0) saturate(100%) invert(100%);
    /* This keeps the SVG white when focused */
}
.itemdiv-container{
    display: inline-flex;
}
.right-image,#sidebarComponent .item.active .right-image {
    min-width: 120px;
    filter: none !important;
    transition: none;
    display: none;
}
#side_bar.focused .right-image,#sidebarComponent .item.active .right-image{
    display: block;
}
#sidebarComponent .right-image img,#sidebarComponent .item.active .right-image img{
    border: none !important;
    filter: none !important;
    float: right !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-top: 16px !important;
    margin-bottom: 0px !important;
    height: 58px !important;
    width: 95px;

}
 