.category-filter {
    width: 186.676px;
    float: left;
    padding: 9.3338px;
}

#category-filter .item {
    height: 40.002px;
    border: 3px solid transparent; 
    padding: 11.3338px 8.0004px;
    font-size: 12.0008px;
    font-family: "Roboto" !important;
    font-weight: 500;
    line-height: 15.3344px;
    color: rgba(217, 217, 217, 1);
    display: flex;
    align-items: center;
}

#category-filter .item img {
    height: auto;
    width: 16px;
    object-fit: cover;
    margin-right: 8px;
}

#category-filter .item-focus {
    position: relative;
    background-color: transparent;
   /* font-weight: bold; */
    color: rgba(217, 217, 217, 1); 
    border-radius: 5.22px;
    border: 3px solid transparent;
}

#category-filter .item-focus::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left:-1.5px;
    right:-1.5px;
    bottom:-1.5px;
    border: 3px solid transparent;
    border-radius: 5.22px;
    background: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none; /* Ensures it doesn't interfere with other elements */
  }

#category-filter .active {
    font-size: 12.6676px;
    background-color: rgba(230, 230, 230, 1);
    color: rgba(19, 19, 20, 1);
    margin: 5px 0;
    font-weight: bold;
    border-radius: 5.22px;
    border: 3px solid transparent;
}

#category-filter .item-focus.active {
    color: rgba(217, 217, 217, 1);
    background-color: transparent;
}
