#content {
  position: relative;
  display: block;
}

#content .content {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}

#content h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#content .item {
  display: inline-block;
  width: 443px;
  height: 53px;
  background: #00000073;
  border-radius: 4px;
  font-size: 0.6667rem;
  margin-right: 2px;
  cursor: pointer;
}

#content .horizontal .item {
  border-radius: 5.22px;
  border: 3px solid transparent;
}

#content .vertical .item-focus,
#content .horizontal .item-focus {
  position: relative;
  border-radius: 5.22px; /* Ensures rounded corners */
}

#content .vertical .item-focus::before,
#content .horizontal .item-focus::before {
  
  border-radius: 5.22px; /* Match the main element's border-radius */
  border: 3px solid transparent; /* Border is set to transparent */
  background: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%);
 
  content: '';
  position: absolute;
  top: -3px;
  left: 0px;
  right:  -2px;
  bottom:  -2px;
  background: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%);
  
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
 
  pointer-events: none; /* Ensures it doesn't interfere with other elements */
}

#content .animate {
  width: 16.67%;
  padding-bottom: 0;
}

#content .placeholder {
  width: 16.67%;
  padding-bottom: calc(20% + 53px);
}

#content .active.flex {
  background: black;
  margin-bottom: 0.67px;
}

#content .active.flex .before-box {
  width: 97px;
  height: 77px;
  padding: 0;
  background: transparent;
}

#content .active.flex .item-focus,
#content .active.flex .item {
  width: 443px;
  height: 77px;
}

.program-list .program-name {
  font-size: 16px;
  width: 267px;
}

.program-list .detail {
  font-size: 11px;
}

.program-list .program-image img {
  width: 107px;
  height: 59px;
}

.program-list .focus-program {
  width: 310px;
  font-size: 10px;
}

.before-box .img-box {
  width: 80px;
  height: 53px;
}

.before-box .img-box img.active-img {
  width: 67px;
  height: 56px;
}

.before-box .img-box img.deactive-img {
  width: 51px;
  height: 43px;
}

#content .before-box .items-center img {
  max-height: 27px;
  width: auto !important;
  height: auto !important;
}

.programs-list {
  height: 333px;
  width: 84%;
  float: left;
  overflow-y: auto;
}

#category-filter,
.programs-list {
  height: 333.35px;
  overflow-y: hidden !important;
}
