.category-filter{
    width:  186.676px;
    float:left ;
    padding: 9.3338px;
  }
#category-filter .item{
    height: 40.002px;  
  /* text-align: center; */
  /* margin: 0px 0px 0px 0px; */
  border-radius: 5.3336px;  
  border: 1.32px solid transparent;  
  padding: 9.3338px 8.0004px 9.3338px 8.0004px;
  font-size: 16.0008px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 21.3344px;
  color: rgba(217, 217, 217, 1)
}
#category-filter .item img {
    height: 18px;
    width: 21px;
    object-fit: cover;
    float: inline-start;
    margin-right: 13px;
}
#category-filter .item-focus{
    border:1.32px solid #fff !important;
    background-color: transparent;
    color:#fff !important;
}
#category-filter{ 
    .active{
        
        font-size: 18.6676px;
        background-color: rgba(230, 230, 230, 1);
        color: rgba(19, 19, 20, 1) !important; 
        margin: 5px 0px 5px 0px;
        border:1.32px solid transparent;
    }
  
        .active.item-focus{
            background-color: rgba(230, 230, 230, .75);
        }
}