/* Category Title */
.category-title {
    font-family: Roboto;
    font-weight: 500;
    color: white;
    font-size: calc(var(--base-font-size) * 0.6667);
}

/* Channels Container */
.Channels {
    border: 1.36px solid #333333;
    border-radius: 8px;
}

/* Channel Image Box */
.Channels .channel-image-box {
    width: 100%;
    height: 136px;
    border-radius: 8px 8px 0 0;
}

/* Channel Image */
.Channels .channel-image-box img {
    width: 106px;
    height: 108px;
    border-radius: 8px;
}

/* Text Box within Channels */
.Channels .text-box {
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 0 0 8px 8px;
}

/* Streaming Text */
.Channels .text-box .streaming-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #D22F26;
}

/* Title Text */
.Channels .text-box .title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
}

/* Duration Text */
.Channels .text-box .duration {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #9E9C9C;
}

/* Slider Box */
.slider-box {
    width: 480px;
    height: 141.34px;
    margin-top: 264.01px;
    margin-left: 165.34px;
    padding: 26.67px;
    border-radius: 8px;
    background: linear-gradient(290.01deg, rgba(255, 255, 255, 0.08) 42.6%, rgba(255, 255, 255, 0) 103.07%);
    border: 1px solid;
    border-image-source: radial-gradient(69.43% 69.43% at 50% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%),
                          radial-gradient(9.48% 467.39% at 50% 50%, rgba(126, 129, 227, 0.3) 0%, rgba(126, 129, 227, 0.12) 100%),
                          radial-gradient(54.8% 53% at 50% 50%, rgba(21, 21, 21, 0.3) 0%, rgba(21, 21, 21, 0) 100%);
}

/* Slider Title */
.slider-box .slider-title {
    font-size: 29.35px;
    font-weight: 500;
    text-align: left;
    font-family: 'Roboto' !important;
}

/* Slider Text */
.slider-box .slider-text {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #BEBEBE;
    margin-top: 16px;
}

/* Slider Item */
.slider-item {
    width: 100% !important;
    height: 458.34px !important;
}
.slider-item {
    width: 100% !important;
    height: 458.34px !important;
    border: none;
    border: 3px solid transparent !important; 
}
.item.slider-item {
    width: 100% !important;
    height: 458.34px !important;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 3px solid transparent !important; 
}
.slider-item.item-focus {
    width: 100% !important;
    height: 458.34px !important;
    border-bottom: 3px solid transparent !important; 
     transition: border 0.0s ease, border-image-source 0.1s ease !important;
     border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
     border-image-slice: 1 !important;
     box-shadow: none !important;
}
/* Streaming Item */

.item.streaming-item {
    width: 160px;
    height: 213.34px;
    border: 3px solid #000; 
    border-radius: 6px;
}
.streaming-item.item-focus {
    width: 160px;
    height: 213.34px;
    border: 3px solid transparent !important; 
    border-radius: 6px;

     transition: border 0.0s ease, border-image-source 0.1s ease !important;
     border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
     border-image-slice: 1 !important;
     box-shadow: none !important;
}

/* Streaming Title */
.streaming-item .streaming-title {
    font-size: calc(var(--base-font-size) * 0.6667);
    overflow-x: hidden;
    border-top-left-radius: 3.5px;
    border-top-right-radius:3.5px;
}
.streaming-item.item-focus .streaming-title {
    
    border-top-left-radius: 0px;
    border-top-right-radius:0px;
}
/* Category Item */
.category-item {
    width: 150px;
    height: 110px;
}
.item.category-item {
    width: 150px;
    height: 110px;
    border: 3px solid #000; 
    border-radius: 5px;
}
.category-item.item-focus {
    width: 150px;
    height: 110px;
    border: 3px solid !important; 
    border-radius: 5px !important;
     transition: border 0.0s ease, border-image-source 0.1s ease !important;
     border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
     border-image-slice: 1 !important;
     box-shadow: none !important;
}
/* Genre Item */
.genre-item {
    width: 169.60px;
    height: 110.00px;
    border: 3px solid #000; 
    border-radius: 5px;
}

.item.genre-item{
    width: 169.60px;
    height: 110.00px;
    border: 3px solid #000 !important; 
    border-radius: 5px;
}
.genre-item.item-focus {
    width: 169.60px;
    height: 110.00px;
    border: 3px solid #000 !important; 
    border-radius: 5px;
     transition: border 0.0s ease, border-image-source 0.1s ease !important;
     border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
     border-image-slice: 1 !important;
     box-shadow: none !important;
}

/* Channel Item */
.channel-item {
    width: 169.60px;
    height: 162.68px;
}
.item.channel-item  {
    width: 169.60px;
    height: 162.68px;
    border: 3px solid #000 !important; 
    border-radius:5px !important;
}
.channel-item .item-focus {
    width: 169.60px;
    height: 162.68px;
    border: 3px solid #000 !important; 
    border-radius:5px !important;
     transition: border 0.0s ease, border-image-source 0.1s ease !important;
     border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
     border-image-slice: 1 !important;
     box-shadow: none !important;
  
}

/* Language Item */
.language-item {
    width: 149.94px;
    height: 53.34px;
}
.item.language-item {
    width: 149.94px;
    height: 53.34px;
    border: 3px solid #000 !important; 
    border-radius:5px !important;
}
.language-item.item-focus {
    width: 149.94px;
    height: 53.34px;
    border: 3px solid #000 !important; 
    border-radius:5px !important;
     transition: border 0.0s ease, border-image-source 0.1s ease !important;
     border-image-source: linear-gradient(91.77deg, #22BBBE 0%, #7DAD41 30.67%, #F4B719 45.19%, #E55824 63.32%, #B52C80 84.14%, #FFFFFF 112.34%) !important;
     border-image-slice: 1 !important;
     box-shadow: none !important;
  
}
/* Default Item */
.default-item {
    padding: 3.33px;
}
.tray-header{
    margin-bottom: 7px;
}