/* Container for Dynamic Content */
#dynamic-content {
  height: 100%;
  position: relative;
}

/* Content within Dynamic Content */
#dynamic-content .content {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}

/* Header within Dynamic Content */
#dynamic-content h1 {
  font-size: 30px;
  height: 80px;
  padding: 0;
  margin: 0;
  line-height: 80px;
}

/* Item Styling */
#dynamic-content .item {
  display: inline-block;
  background-color: #666;
  font-size: 1rem;
  margin-right: 20px;
  cursor: pointer;
}

/* Border and Transition for Item */
#dynamic-content .horizontal .item,
#dynamic-content .vertical .item {
  border: 2px solid transparent;
  transition: width 0.001s ease-in-out; /* Added transition */
}

/* Focused Item Styling */
#dynamic-content .item-focus {
  transition: width 0.001s ease-in-out, border 0.002s ease-in-out; /* Added transition */
  border: 2px solid #fff;
}

/* Focused Item in Vertical and Horizontal Orientation */
#dynamic-content .vertical .item-focus,
#dynamic-content .horizontal .item-focus {
  border: 2px solid #fff;
  border-radius: 5px;
}

/* Animated Item */
#dynamic-content .animate {
  width: 25%;
  padding-bottom: 0;
  transition: padding-bottom 0.3s ease;
}

/* Placeholder Item */
#dynamic-content .placeholder {
  width: 25%;
  padding-bottom: calc(30% + 80px);
}

/* Active Flex Styling */
#dynamic-content .active.flex .before-box {
  height: 116px;
}

/* Active Flex Item Focus */
#dynamic-content .active.flex .item-focus,
#dynamic-content .active.flex .item {
  width: 50% !important;
  height: 116px;
}
