.program-detail-container {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  margin: 66.67px;
}

.program-detail-content {
  width: 306.67px;
  height: 513.34px;
  color: white;
  padding: 10.67px;
  border-radius: 5.33px;
}

.program-header {
  display: flex;
  align-items: flex-start;
  gap: 5.33px;
}

.channel-logo {
  width: 80px;
  height: 53.34px;
}

.channel-logo-img {
  width: 80px;
  height: 46.67px;
  object-fit: cover;
}

.channel-title {
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
}

.channel-category {
  font-size: 13.33px;
  line-height: normal;
  color: #d9d9d9;
}

.channel-description {
  margin-top: 5.33px;
  font-size: 10.67px;
  line-height: normal;
  color: #d9d9d9;
}

.program-info {
  display: flex;
  align-items: flex-start;
  gap: 5.33px;
  margin-top: 16px;
}

.program-thumbnail {
  width: 93.34px;
  height: 53.34px;
}

.program-thumbnail-img {
  width: 93.34px;
  height: 53.34px;
  object-fit: cover;
}

.program-details {
  font-weight: normal;
}

.program-title {
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
}

.program-rating {
  font-size: 10.67px;
  line-height: normal;
  color: #d9d9d9;
  border: 0.67px solid white;
  width: max-content;
}

.program-genre {
  font-size: 10.67px;
  line-height: normal;
  color: #d9d9d9;
}

.program-description {
  margin-top: 10.67px;
}

.description-title {
  font-size: 10.67px;
  line-height: normal;
  color: #d9d9d9;
  font-weight: 500;
}

.description-content {
  font-size: 10.67px;
  line-height: normal;
  color: #d9d9d9;
  font-weight: normal;
}

.control-toggle-container {
  margin-top: 16px;
}

.control-toggle {
  background-color: #1c3a7e;
}

.control-toggle__icon {
  width: 16px;
  margin-right: 10.67px;
}

.control-toggle__text {
  font-size: 16px;
  line-height: normal;
  color: white;
}
