#sidebarComponent .item {
    display: flex;
    color: #fff;
}

#sidebarComponent .item .itemdiv {
    visibility: hidden;
    border: 2px solid transparent;
    padding-bottom: 8.0005px;
    padding-top: 0.0005px;
    margin-top: 10.6675px;
    margin-bottom: 5.6675px;
    margin-left: 7.6675px;
    white-space: nowrap;
    filter: brightness(0) saturate(100%) invert(85%) sepia(10%) saturate(3%) hue-rotate(170deg) brightness(80%) contrast(75%);
    /* This makes the SVG appear even more dull (closer to #eee but with reduced vibrancy) */
    transition: filter 0.3s ease;
}
 #sidebarComponent .item-focus .itemdiv{
    filter: brightness(0) saturate(100%) invert(100%);
 }

#side_bar.focused #sidebarComponent .item .itemdiv {
    visibility: visible;
    white-space: nowrap;
}

#sidebarComponent .item img {
    border: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding-bottom: 10.0005px;
    padding-top: 0.0005px;
    margin-top: 10.6675px;
    margin-bottom: 5.6675px;
    width: 35px;
    height: 35px;
}

#sidebarComponent .item.active img {
    border-bottom: 2px solid rgba(210, 47, 38, 1);
}

#sidebarComponent .item-focus {
    border: none;
}

#sidebarComponent .item-focus img {
    border: 2px solid transparent;
    border-bottom: 2px solid #fff !important;
}

#sidebarComponent .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.svg-image {
    filter: brightness(0) saturate(100%) invert(85%) sepia(10%) saturate(3%) hue-rotate(170deg) brightness(80%) contrast(75%);
    /* This makes the SVG appear even more dull (closer to #eee but with reduced vibrancy) */
    transition: filter 0.3s ease;
}

.item-focus .svg-image {
    filter: brightness(0) saturate(100%) invert(100%);
    /* This keeps the SVG white when focused */
}