#sidebarComponent .item {
    border: 2px solid transparent;  
    border-bottom: 2px solid transparent;  
    padding-bottom: 10.0005px;
    padding-top: 10.0005px;
    margin-top: 16.6675px;
    margin-bottom: 16.6675px;
}
#sidebarComponent .item.active{
    border-bottom: 2px solid rgba(210, 47, 38, 1);
}
#sidebarComponent .item-focus { 
    border: 2px solid transparent;  
    border-bottom: 2px solid #fff !important;
}
#sidebarComponent .item img{
    width:24.0012px;
    height: 24.0012px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}