.tabs-container {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #9E9C9C;
  min-height: 100vh;
  padding: 0 32px; /* 48px * 0.6667 */
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px; /* 600px * 0.6667 */
  margin-bottom: 13px; /* 20px * 0.6667 */
}

.tab {
  cursor: pointer;
  padding: 7px 13px; /* 10px 20px * 0.6667 */
  font-family: Roboto;
  font-size: 21.33px; /* 32px * 0.6667 */
  font-weight: 500;
  line-height: 26.67px; /* 40px * 0.6667 */
  text-align: center;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  gap: 6.67px; /* 10px * 0.6667 */
  border-bottom: 2px solid #9E9C9C;
}

.tab.active {
  border-bottom: 2px solid #D22F26;
  color: white;
}

.tab-icon {
  font-size: 13.33px; /* 20px * 0.6667 */
}

.tab-content {
  text-align: center;
  font-size: 13.33px; /* 20px * 0.6667 */
  font-weight: bold;
}

.message-box-container {
  height: 40vh; /* 60vh * 0.6667 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px; /* 20px * 0.6667 */
  border-radius: 6.67px; /* 10px * 0.6667 */
  max-width: 400px; /* 600px * 0.6667 */
  text-align: center;
}

.icon-placeholder {
  margin-bottom: 13px; /* 20px * 0.6667 */
}

.icon-placeholder img {
  width: 66.67px; /* 100px * 0.6667 */
  height: 66.67px; /* 100px * 0.6667 */
}

.message-text {
  margin-bottom: 20px; /* 30px * 0.6667 */
  color: #fff;
}

.message-text h2 {
  font-size: 18.67px; /* 28px * 0.6667 */
  margin-bottom: 6.67px; /* 10px * 0.6667 */
}

.message-text p {
  font-family: Roboto;
  font-size: 10.67px; /* 16px * 0.6667 */
  font-weight: 400;
  line-height: 13.33px; /* 20px * 0.6667 */
  text-align: center;
  color: #D9D9D9;
}

.message-text .highlight-icon {
  font-size: 10.67px; /* 16px * 0.6667 */
}

.logo-size {
  width: 121.54px; /* 182.31px * 0.6667 */
  height: 40px; /* 60px * 0.6667 */
}
